<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}

      <p>Use this site to get your weather!</p>

      <form class="location__form">
        <input placeholder="Location" class="search__field" />
        <button class="btn__search">Search</button>
      </form>
      <div class="response"></div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
  </body>
</html>
